body, html {
  height: 100%;
  overflow-x: hidden;
}

/* html { 
  background: url("/static/images/grass.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.bg-grey-theme {
  background-color: #f8f8f8
}  

.bg1 { 
    /* The image used */
    /* background: url("/static/images/grass.jpeg"); */
    background: url("/static/images/grass.jpeg") no-repeat center center fixed; 
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center + scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  } 

  
  /* .bg2{
    background-image: url("/static/images/grass.jpeg");
    background-repeat:no-repeat;
    background-position:center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    position:fixed;
    opacity:0;
    z-index:2;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  } */

.btn-custom{
  background: #77ab59;
  color: white;
  border-color: #1a632b
}

.cardspace{
  /* display: inline-block; */
 margin-right: auto;
 margin-left: auto;
max-width: 10rem; min-width: 10rem;
}


.displaytext{
  font-size: 30px;  
}

.error{
  color: indianred;
  text-shadow: .25px .25px gray;
}

.formpadding{
  margin-top: 1.5rem;
  /* padding-top: 1rem; */
  
}

.footerrow{
    background-color: #1a632b;
    height: 3rem;
}
.jumboheader{
  color: gray;
  /* margin-right: 2rem; */
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.headerrow{
    background-color: #1a632b;
    height: 4rem;
    color: white;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.paddedcol{
  padding-left: 2rem;
}

.subtext {
font-size: 10px;
font-style: italic;
}

.titletext{
  font-size: 2.5rem;
}


/* .lowval{
  background-color: #36802d
}

.moderateval{
  background-color: #77ab59
}

.highval{
  background-color: #c9df8a; 
  color: orange
}

.extremeval .veryhighval{
  background-color: #f0f7da; 
  color: indianred;
  border-color: indianred
} */


